<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            {% if review.title %} {{ review.title }} {% else %} Review {% endif %}
        </h5>
        {% if include_volume or review.volumes.count > 1 %}
        <div class="card-text mb-3">
            This review covers:
            <ul>
                {% for vol in review.volumes.all %}
                <li><a href="{% url 'volume_detail' vol.id %}">{{ vol.title }}</a>,
                    {{vol.publisher}} ({{vol.published_date.year}})</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="card-text">
            <p>
                {% spaceless %}
                by
                {% for p in review.persons.all %}{% if not forloop.first and review.persons.count > 2 %},
                {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                    href="{% url 'person_detail' p.id %}">{{ p.full_name }}</a>{% endfor %}
                {% endspaceless %}.
                Published in {{ review.location }}.
                {% if review.published_date %} {{ review.published_date }}. {% endif %}

            </p>
        </div>
        {% include "components/links_list_component.html" with links=review.links.all %}
    </div>
</div>