{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
{% endblock %}