{% extends "base.html" %}

{% block title %}
Bibliothekai
{% endblock %}

{% block content %}
<h1 class="mt-4 mb-4">Bibliothekai</h1>
<h2>Mission</h2>
<p>
    Our mission is to provide a comprehensive resource on the best translations of classical texts into modern languages. We want to help students, teachers, and interested readers everywhere access Greek and Roman literature, history, and philosophy through accurate, accessible, and up-to-date translations into English and other modern languages.
</p>
<p>
    We welcome classical enthusiasts to join our efforts by contributing information about more translations and by writing reviews to help the community understand the qualities of different translations.
</p>
<h2>
    Roadmap
</h2>
<p>
    We're excited to make Bibliothekai better and better. Our top priorities include:
    <ul>
        <li>Making it easier to filter and compare available translations.</li>
        <li>Opening more areas for user contribution.</li>
        <li>Adding publisher catalogs in bulk.</li>
    </ul>
</p>
<h2>
    Technology
</h2>
<p>
    Bibliothekai is built with Django, Bootstrap, and the open source Lightning Web Components framework.
</p>
<h2>
    Privacy, Cookies, and Affiliate Links
</h2>
<p>
    Bibliothekai uses cookies only to allow you to log in. We don't use tracking cookies or any other type of cookies. We don't record any information about you except for content that you create on the site and any details you choose to share when you create your account, such as your preferred display name, email address, and profile, if any. If you'd like information about you removed from our site, please reach out to <a href="mailto:david@ktema.org">David Reed</a>.
</p>
<p>
    We do not use any third-party analytics. We do not display ads.
</p>
<p>
    Your service providers and ours (including Cloudflare and Heroku) may collect additional information.
</p>
<p>
    Links to booksellers may include an affiliate code and result in a small commission to this site. If you choose to navigate to a bookseller or another third-party link from Bibliothekai, the privacy policy of the third party is in effect.
</p>

{% endblock %}