{% extends "base.html" %}

{% block title %}
Authors
{% endblock %}

{% block content %}

<h1>Authors</h1>
{% for a in object_list %}
    <article>
        <header class="card-header">
        <h2>
            {{ a.full_name }}
        </h2>
            <div class="card-header-actions">
                <a role="button" href="{% url 'person_detail' a.id %}">
                    View works
                </a>
            </div>
        </header>
        <p>
            Author of {{ a.source_texts.count }} text{% if a.source_texts.count != 1 %}s{% endif %}.
        </p>
    </article>
{% endfor %}
{% include "components/pagination.html" %}
{% endblock %}
