{% extends "base.html" %}

{% block title %}
Authors
{% endblock %}

{% block content %}

<h1 class="mt-4 mb-4">
    Authors
</h1>
{% for a in object_list %}
    <article>
        <header>
        <h5>
            {{ a.full_name }}
            <div style="float: right;">
                <a href="{% url 'person_detail' a.id %}">
                    View works
                </a>
            </div>
        </h5>
        </header>
        <p>
            Author of {{ a.source_texts.count }} text{% if a.source_texts.count != 1 %}s{% endif %}.
        </p>
    </article>
{% endfor %}
{% include "components/pagination.html" %}
{% endblock %}
