{% extends "base.html" %}

{% block title %}
Bibliothekai
{% endblock %}

{% block content %}
<header>
<h1>
    Discover {{ count_translations }} translations of {{ count_texts }} source texts.
</h1>
</header>
<p>
    In Ancient Greek, <a href="http://www.perseus.tufts.edu/hopper/morph?l=biblioqhkh&la=greek#lexicon">βιβλιοθῆκαι</a>
    means <em>bookcases</em>, or more specifically <em>libraries</em>.
</p>
<p>
    Here, we collect information on ancient texts - primarily, but not exclusively, Greek and Latin works - and the
    translations available into modern languages. Our goal is to provide a comprehensive resource for finding,
    evaluating, and selecting translations of classical works.
</p>
    <article>
        <header class="card-header">
            <h2>
                Explore
            </h2>
        </header>
            <p>Start by exploring texts, ancient authors, or modern translators.</p>
            <div role="group">
                <a href="{% url 'source_text_index' %}" role="button">Texts</a>
                <a href="{% url 'author_index' %}" role="button">Ancient authors</a>
                <a href="{% url 'translator_index' %}" role="button">Modern translators</a>
            </div>
    </article>
    <article>
        <header class="card-header">
            <h2>
                Search
            </h2>
        </header>
            <p>Enter a search term, like a title or author.</p>
            <form action="{% url 'search' %}" method="GET">
            <div role="group">
                <input name="query" type="search" placeholder="Search" aria-label="Search">
                <input type="submit" value="Search">
            </div>
            </form>
    </article>
    <article>
        <header class="card-header">
            <h2>
                Contribute
            </h2>
        </header>
            <p>Add new translations, suggest new texts or authors, or share reviews to help find the best translations.</p>
            <p>Contribute reviews on each volume's page.</p>
            <div role="group">
                <a role="button" href="{% url 'volume_add' %}">Add a translation</a>
                <a role="button" href="{% url 'submit' %}">Add suggestion</a>
            </div>
    </article>
{% endblock %}
