{% extends "base.html" %}

{% block title %}
{{ person.full_name }}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div style="float: right;">
    <small>
        <a href="{% url 'admin:translations_person_change' person.id %}">View on Admin</a>
    </small>
</div>
{% endif %}
<h1>{{ person.full_name }}</h1>
<p>
    {{ person.description|linebreaks }}
</p>
{% if person.alternate_names.count %}
<p>
    Also known as
    {% if person.alternate_names.count > 1 %}
<ul>
    {% for a in person.alternate_names.all %}
    <li>
        {{ a.name }}
    </li>
    {% endfor %}
</ul>
{% else %}
{% for a in person.alternate_names.all %}
{{ a.name }}.
{% endfor %}
{% endif %}
</p>
{% endif %}
{% if sourcetexts.count %}

<h2>Texts</h2>
{% for s in sourcetexts %}
<article>
    <header class="card-header">
        <h3>
            {{ s.title }}
            {% if s.get_original_language_title and s.title != s.get_original_language_title %}
            ({{ s.get_original_language_title }})
            {% endif %}
        </h3>
        <div class="card-header-actions">
            <a role="button" href="{% url 'source_text_detail' s.id %}">
                View translations
            </a>
        </div>
    </header>
    <p>{{ s.language }} {{ s.get_format_display|lower }}. {{ s.date }}</p>
</article>
{% endfor %}
{% endif %}

{% if translations %}
<h2>Translations</h2>
{% for f in translations %}
<article>
    <header class="card-header">
        <h3>
            <a href="{% url 'person_detail' f.source_text.author.id %}">{{ f.source_text.author.full_name }}</a>,
            <cite><a href="{% url 'source_text_detail' f.source_text.id %}">{{ f.source_text.title }}</a></cite>
        </h3>
    </header>
    <p>
        Translation into {{ f.language }} {{ f.get_format_display|lower }}.
    </p>
    <p>Published in <a href="{% url 'volume_detail' f.volume.id %}">{{ f.volume.title }}</a>
        ({{f.volume.publisher }}{% if vol.published_date %}, {{ f.volume.published_date.year }}{% endif%})
    </p>
</article>
{% endfor %}
{% endif %}

{% if publishedreviews %}
<h2>Published Reviews</h2>
{% for r in publishedreviews %}
{% include "components/published_review.html" with review=r include_volume=True header_level=3 %}
{% endfor %}
{% endif %}

{% include "components/links_component.html" with links=person.links.all %}

{% endblock %}
