{% extends "base.html" %}

{% block title %}
{% if publishedreview.title %} {{ publishedreview.title }} {% else %} Review {% endif %}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div class="float-right">
    <small>
        <a href="{% url 'admin:translations_publishedreview_change' publishedreview.id %}">View on Admin</a>
    </small>
</div>
{% endif %}

<h1 class="mt-4 mb-4">Published Review</h1>
{% include "components/published_review.html" with review=publishedreview include_volume=True %}
{% endblock %}