{% extends "base.html" %}

{% block title %}
Search Results
{% endblock %}

{% block content %}
<h1>Search Results</h1>

<section>
    <header>
        <h2>Texts</h2>
        <p><small>
            {{ source_texts|length }}
            {% if source_texts|length != 1 %} results {% else %} result {% endif %}
        </small></p>
    </header>
    <ul>
        {% for s in source_texts %}
        <li>
            <a href="{% url 'source_text_detail' s.id %}">{{ s.title }} ({{ s.author.full_name }})</a>
        </li>
        {% empty %}
        <li>No texts found.</li>
        {% endfor %}
    </ul>
</section>

<section>
    <header>
        <h2>Volumes</h2>
        <p><small>
            {{ volumes|length }}
            {% if volumes|length != 1 %} results {% else %} result {% endif %}
        </small></p>
    </header>
    <ul>
        {% for v in volumes %}
        <li>
            <a href="{% url 'volume_detail' v.id %}">{{ v.title }} ({{v.publisher.name}}{% if v.published_date %},
                {{ v.published_date.year }}{% endif %})</a>
        </li>
        {% empty %}
        <li>No volumes found.</li>
        {% endfor %}
    </ul>
</section>

<section>
    <header>
        <h2>People</h2>
        <p><small>
            {{ persons|length }}
            {% if persons|length != 1 %} results {% else %} result {% endif %}
        </small></p>
    </header>
    <ul>
        {% for p in persons %}
        <li>
            <a href="{% url 'person_detail' p.id %}">{{ p.full_name }}</a>
        </li>
        {% empty %}
        <li>No people found.</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
