{% extends "base.html" %}
{% load comma_lists %}

{% block title %}
{{ series.name }}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div style="float: right;">
    <small>
        <a href="{% url 'admin:translations_series_change' series.id %}">View on Admin</a>
    </small>
</div>
{% endif %}
<h1>{{ series.name }}</h1>

{% if series.volumes.count %}
<h2>Volumes</h2>
{% for volume in series.volumes.all %}
<article>
    <header class="card-header">
        <h3>
            <a href="{% url 'volume_detail' volume.id %}">{{ volume.title }}</a>
        </h3>
    </header>
    <p>
        {% pill "Publisher" volume.publisher "publisher_detail" volume.publisher.id %}
        {% if volume.published_date %}
        {% pill "Date" volume.published_date.year %}
        {% endif %}
        {% if volume.isbn %}
        {% pill "ISBN" volume.isbn %}
        {% endif %}
    </p>
    <p>
        Includes {% if volume.translations.count > 1 %} translations of
        {% else %} translation of {% endif %}
        {% commalist volume.translations.all %}
        <cite>{{ item.source_text.title }}</cite>
        {% endcommalist %}.
    </p>
</article>
{% endfor %}
{% endif %}

{% endblock %}
