{% extends "base.html" %}
{% load comma_lists %}
{% load manifest %}

{% block title %}
{{ sourcetext.title }}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div style="float: right;">
    <small>
        <a href="{% url 'admin:translations_sourcetext_change' sourcetext.id %}">View on Admin</a>
    </small>
</div>
{% endif %}

<header>
<h1>
    {{ sourcetext.title }}
</h1>
</header>
{% if sourcetext.alternate_names.count %}
<h2>Other Titles</h2>
    {% if sourcetext.alternate_names.count > 1 %}
    <ul>
        {% for a in sourcetext.alternate_names.all %}
        <li>
            {{ a.name }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        {% for a in sourcetext.alternate_names.all %}
        <p>{{ a.name }}</p>
        {% endfor %}
    {% endif %}
{% endif %}
<dl>
    <div>
        <dt>Author</dt>
        <dd>
            <a href="{% url 'person_detail' sourcetext.author.id %}">
                {{ sourcetext.author.full_name }}
            </a>
        </dd>
    </div>
    <div>
        <dt>Original Language</dt>
        <dd>{{ sourcetext.language }}</dd>
    </div>
    <div>
        <dt>Format</dt>
        <dd>{{ sourcetext.get_format_display }}</dd>
    </div>
    {% if sourcetext.date %}
    <div>
        <dt>Date</dt>
        <dd>{{ sourcetext.date }}</dd>
    </div>
    {% endif %}
</dl>

{% if sourcetext.description %}
<h2>Description</h2>
<p>
    {{ sourcetext.description|linebreaks }}
</p>
{% endif %}

{% if sourcetext.coverage %}
<h2>Coverage</h2>
<p>
    {{ sourcetext.coverage|linebreaks }}
</p>
{% endif %}


<div id="lwc"></div>

{% manifest_match '*translationView*.css' '<link rel="stylesheet" href="{match}">' %}
{% manifest_match '*translationView*.js' '<script type="module" src="{match}"></script>' %}

{% include "components/links_component.html" with links=sourcetext.links.all %}

{% endblock %}
