{% extends "base.html" %}

{% block title %}
Texts
{% endblock %}

{% block content %}

<h1>Texts</h1>

{% for a in page_obj %}
    <article>
        <header class="card-header">
            <h2>
                <a href="{% url 'person_detail' a.id %}">
                    {{ a.full_name }}</a>
            </h2>
        </header>
        <ul>
            {% for s in a.source_texts.all %}
            <li>
                <a href="{% url 'source_text_detail' s.id %}">
                    {{ s.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </article>
{% endfor %}
{% include "components/pagination.html" %}
{% endblock %}
