{% extends "base.html" %}

{% block title %}
Translators
{% endblock %}

{% block content %}

<h1>Translators</h1>
{% for a in page_obj %}
    <article>
    <header class="card-header">
        <h2>
        {{ a.full_name }}
        </h2>
            <div class="card-header-actions">
                <a role="button" href="{% url 'person_detail' a.id %}">
                    View works
                </a>
            </div>
    </header>
        <p>
            Author of {{ a.translation_count }} translation{% if a.translation_count != 1 %}s{% endif %}.
        </p>
    </article>
{% endfor %}
{% include "components/pagination.html" %}
{% endblock %}
