{% extends "base.html" %}

{% block title %}
Translators
{% endblock %}

{% block content %}

<h1 class="mt-4 mb-4">
    Translators
</h1>
{% for a in page_obj %}
    <article>
    <header>
        <h5 >
        {{ a.full_name }}
        </h5>
            <div>
                <a href="{% url 'person_detail' a.id %}">
                    View works
                </a>
            </div>
    </header>
        <p>
            Author of {{ a.translation_count }} translation{% if a.translation_count != 1 %}s{% endif %}.
        </p>
    </article>
{% endfor %}
{% include "components/pagination.html" %}
{% endblock %}
