{% extends "base.html" %}
{% load comma_lists %}
{% block title %}
{{ volume.title }}
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<div style="float: right;">
    <small>
        <a href="{% url 'admin:translations_volume_change' volume.id %}">View on Admin</a>
    </small>
</div>
{% endif %}

<h1>{{ volume.title }}</h1>

<section>
{% if volume.description %}
<p>{{ volume.description|linebreaks }}</p>
{% endif %}
<dl>
    <div>
        <dt>Publisher</dt>
        <dd><a href="{% url 'publisher_detail' volume.publisher.id %}">{{ volume.publisher }}</a></dd>
    </div>
    {% if volume.published_date %}
    <div>
        <dt>Date</dt>
        <dd>{{ volume.published_date.year }}</dd>
    </div>
    {% endif %}
        {% if volume.series %}
    <div>
        <dt>Series</dt>
        <dd><a href="{% url 'series_detail' volume.series.id %}">{{ volume.series }}</a></dd>
    </div>
        {% endif %}
        {% if volume.isbn %}
    <div>
        <dt>ISBN</dt>
        <dd>{{ volume.isbn }}</dd>
    </div>
        {% endif %}
</dl>

{% if volume.feature_glossary or volume.feature_index or volume.feature_bibliography or volume.feature_maps or volume.get_general_features.count %}
<h2>Resources</h2>
    {% if volume.get_general_features.count %}
    {% for f in volume.get_general_features %}
    <p>
        {% if f.feature == "IN" %}
        <span class="pill pill-introduction">{{ f.get_feature_display }}</span>
        {% endif %}
        {% if f.feature == "ED" %}
        <span class="pill pill-edited">{{ f.get_feature_display }}</span>
        {% endif %}
        {% if f.feature == "NT" %}
        <span class="pill pill-notes">{{ f.get_feature_display }}</span>
        {% endif %}
        {% if f.feature == "CM" %}
        <span class="pill pill-commentary">{{ f.get_feature_display }}</span>
        {% endif %}
        by
        {% commalist f.persons.all %}
        <a href="{% url 'person_detail' item.id %}">{{ item.full_name }}</a>
        {% endcommalist %}
    </p>
    {% endfor %}
    {% endif %}
    <p>
        {% if volume.feature_glossary %}
        <span class="pill pill-glossary">Glossary</span>
        {% endif %}
        {% if volume.feature_index %}
        <span class="pill pill-index">Index</span>
        {% endif %}
        {% if volume.feature_bibliography %}
        <span class="pill pill-bibliography">Bibliography</span>
        {% endif %}
        {% if volume.feature_maps %}
        <span class="pill pill-maps">Maps</span>
        {% endif %}
    </p>
{% endif %}
</section>
<hr>

{% regroup features by source_text as texts %}

<h2>Translations</h2>
{% for t in texts %}
{% if t.grouper.id %}
{% regroup t.list by author_string as grouped_features %}
        <section>
            <header class="card-header">
            <h3>
                {{ t.grouper.title }} {% if t.grouper.get_original_language_title and t.grouper.get_original_language_title != t.grouper.title %}
                ({{ t.grouper.get_original_language_title }}){% endif %}
            </h3>
            <div class="card-header-actions">
                <a role="button" href="{% url 'source_text_detail' t.grouper.id %}">
                    More translations
                </a>
                <a role="button" href="{% url 'person_detail' t.grouper.author.id %}">
                    More {{ t.grouper.author.full_name }}
                </a>
            </div>
            </header>
            <p>
                {{ t.grouper.author.full_name }},
                {{ t.grouper.language }} {{ t.grouper.get_format_display | lower }}.
                {% if t.grouper.date %}
                {{ t.grouper.date }}
                {% endif %}
            </p>
    <div class="grid">
    {% for feature_set in grouped_features %}
    <article>
    <header class="card-header">
            <h4>
                {% commalist feature_set.list %}
                {{ item.get_feature_display }}
                {% if item.title and item.title != item.source_text.title %}
                (as <cite>{{ item.title }}</cite>)
                {% endif %}
                {% endcommalist %}
            </h4>
        </header>
            {% with f=feature_set.list|first %}
            <p><small>
                by
                {% commalist f.persons.all %}
                <a href="{% url 'person_detail' item.id %}">{{ item.full_name }}</a>
                {% endcommalist %}
            </small></p>
            {% endwith %}
            {% for f in feature_set.list %}
            {% if f.feature == 'TR' %}
            <p>
                Translated into {{ f.language }} {{f.get_format_display | lower}}.
                {% if f.partial %} This is a partial translation. {% endif %}
                {% if f.has_facing_text %} This translation includes a facing {{ f.source_text.language }} text.
                {% endif %}
                {% if f.sample_passage %}
                <a role="button" class="secondary"
                   href="{% url 'translation_compare' f.source_text.id %}?trans={{ f.id }}">
                    View Sample
                </a>
                {% endif %}
            </p>
            {% endif %}
            {% if f.description %}
            <p>
                {{ f.description|linebreaks }}
            </p>
            {% endif %}
            {% endfor %}
    </article>
    {% endfor %}
</div>
</section>
{% endif %}
<hr>
{% endfor %}

{% include "components/links_component.html" with links=volume.links.all %}

<section>
<header class="card-header">
<h2>
    Published Reviews
</h2>
    <div class="card-header-actions" role="group">
            <a role="button" href="{% url 'publishedreview_list' volume.id %}">
                View all
            </a>
            {% if user.is_authenticated %}
            <a role="button" href="{% url 'publishedreview_add' volume.id %}">
                Add
            </a>
            {% endif %}
        </div>
</header>

{% for r in publishedreviews %}
{% include "components/published_review.html" with review=r header_level=3 %}
{% empty %}
<p>We don't have any published reviews for this volume yet.</p>
{% endfor %}
</section>

<section>
<header class="card-header">
<h2>
    User Reviews
</h2>
<div class="card-header-actions" role="group" aria-label="User review actions">
    <a role="button" href="{% url 'review_list' volume.id %}">
        View all</a>
    {% if user.is_authenticated %}
    <a role="button" href="{% url 'review_create' volume.id %}">
        Add
    </a>
    {% endif %}
</div>
</header>

{% for r in reviews %}
{% include "components/user_review.html" with review=r abbreviate=True header_level=3 %}
{% empty %}
<p>We don't have any user reviews for this volume yet.</p>
{% endfor %}
</section>
{% endblock %}
