{% extends "base.html" %}

{% block title %}
Bibliothek.ai
{% endblock %}

{% block content %}
<h1 class="mt-4">Bibliothekai</h1>
<p>
    In Ancient Greek, <a href="http://www.perseus.tufts.edu/hopper/morph?l=biblioqhkh&la=greek#lexicon">βιβλιοθῆκαι</a>
    means <em>bookcases</em>, or more specifically a <em>library</em>.
</p>
<p>
    Here, we collect information on ancient texts - primarily, but not exclusively, Greek and Latin works - and the
    translations available into modern languages. Our goal is to provide a comprehensive resource for finding,
    evaluating, and selecting translations of classical works.
</p>
<p>
    Please be aware that this site is under heavy development and considered alpha stage. Please contact <a
        href="mailto:david@ktema.org">David Reed</a> with any questions.
</p>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Source Texts
            </h5>
            <p class="card-text">Start by exploring available source texts.</p>
            </p>
            <a href="{% url 'source_text_index' %}" class="btn btn-primary">Browse</a>
        </div>
    </div>
</div>
{% endblock %}