{% extends "base.html" %}

{% block title %}
Bibliothekai
{% endblock %}

{% block content %}
<div id="main"></div>
<h1 class="mt-4">Bibliothekai</h1>
<p>
    In Ancient Greek, <a href="http://www.perseus.tufts.edu/hopper/morph?l=biblioqhkh&la=greek#lexicon">βιβλιοθῆκαι</a>
    means <em>bookcases</em>, or more specifically <em>libraries</em>.
</p>
<p>
    Here, we collect information on ancient texts - primarily, but not exclusively, Greek and Latin works - and the
    translations available into modern languages. Our goal is to provide a comprehensive resource for finding,
    evaluating, and selecting translations of classical works.
</p>
<p>
    Please be aware that this site is under heavy development and considered beta stage. Please contact <a
        href="mailto:david@ktema.org">David Reed</a> with any questions.
</p>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Explore
            </h5>
            <p class="card-text">Start by exploring texts, ancient authors, or modern translators.</p>
            </p>
                <a href="{% url 'source_text_index' %}" class="btn btn-primary mt-2">Texts</a>
                <a href="{% url 'author_index' %}" class="btn btn-primary mt-2">Ancient authors</a>
                <a href="{% url 'translator_index' %}" class="btn btn-primary mt-2">Modern translators</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Search
            </h5>
            <p class="card-text">Enter a search term, like a title or author, to find what you need to know.</p>
            </p>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Contribute
            </h5>
            <p class="card-text">Add new translations, suggest new texts or authors, or share reviews to help find the best translations.</p>
            <p class="card-text">Contribute reviews on each volume's page.</p>
            </p>
            <a class="btn btn-primary mt-2" href="{% url 'volume_add' %}">Add a translation</a>
            <a class="btn btn-primary mt-2" href="{% url 'submit' %}">Add suggestion</a>

        </div>
    </div>
</div>
{% endblock %}