{% extends "base.html" %}

{% block title %}
{{ person.full_name }}
{% endblock %}

{% block content %}
<h1 class="mt-4">{{ person.full_name }}</h1>
<p>
    {{ person.description }}
</p>
{% if person.sourcetext_set.count %}

<h2 class="mt-4">Source Texts</h2>
{% for s in person.sourcetext_set.all %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            {{ s.title }}
            <div class="float-right">
                <a class="ml-3 btn btn-primary btn-sm" href="{% url 'source_text_detail' s.id %}">
                    View translations
                </a>
            </div>
        </h5>
        <div class="card-text">
            <p>
                {% if s.get_original_language_title %}
                ({{ s.get_original_language_title }}){% endif %}
            </p>
            <p>{{ s.language }} {{ s.get_kind_display|lower }}.</p>
            <p>{{ s.date }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if person.features.count %}
<h2 class="mt-4">Translations</h2>
{% for f in person.features.all %}
{% if f.source_text and f.feature == 'TR' %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'person_detail' f.source_text.author.id %}">{{ f.source_text.author.full_name }}</a>,
            <cite><a href="{% url 'source_text_detail' f.source_text.id %}">{{ f.source_text.title }}</a></cite>
        </h5>
        <div class="card-text">
            <p>
                Translation into {{ f.language }} {{ f.get_kind_display|lower }}.
            </p>
            <p>Published in <a href="{% url 'volume_detail' f.volume.id %}">{{ f.volume.title }}</a>
                ({{f.volume.publisher }}, {{ f.volume.published_date.year }})
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if person.publishedreview_set.count %}
<h2 class="mt-4">Published Reviews</h2>
{% for r in person.publishedreview_set.all %}
{% include "components/published_review.html" with review=r include_volume=True %}
{% endfor %}
{% endif %}

{% include "components/links_component.html" with links=person.links.all %}

{% endblock %}