{% extends "translations/base.html" %}

{% block title %}
{{ person.name }}
{% endblock %}

{% block content %}
<h1>{{ person }}</h1>
<p>
    {{ person.description }}
</p>
{% if person.sourcetext_set.count %}
<h2>Source Texts</h2>
{% for s in person.sourcetext_set.all %}
<p>
    <a href="{% url 'source_text_detail' s.id %}">{{ s }}</a>
</p>
{% endfor %}
{% endif %}
{% if person.feature_set.count %}
<h2>Translations and Features</h2>
{% for f in person.feature_set.all %}
<p>
    <a href="{% url 'volume_detail' f.volume.id %}">{{ f }}</a>
</p>
{% endfor %}
{% endif %}
{% endblock %}