{% extends "translations/base.html" %}

{% block title %}
{{ sourcetext.title }}
{% endblock %}

{% block content %}

<h1>
    {{ sourcetext.title }}
    {% if sourcetext.original_language_title %}
    ({{ sourcetext.language}}: {{ sourcetext.original_language_title }})
    {% endif %}
</h1>
<p>
    Author: <a href="{% url 'author_detail' sourcetext.author.id %}">{{ sourcetext.author }}</a>
</p>
<h2>Translations and Features</h2>
{% for v in volumes.all %}
<h3><a href="{% url 'volume_detail' v.id %}">{{ v }}</a></h3>
{% for f in v.feature_set.all %}
<p>{{ f }}</p>
{% endfor %}
{% endfor %}
{% endblock %}