{% extends "translations/base.html" %}

{% block title %}
Source Texts
{% endblock %}

{% block content %}

<h1 class="mt-4">
    Source Texts
</h1>

{% regroup object_list by author as authors %}
{% for a in authors %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            {{ a.grouper }}
        </h4>
    </div>
    <ul class="list-group list-group-flush">
        {% for s in a.list %}
        <li class="list-group-item">
            {{ s.title }}
            <div class="float-right">
                <a class="ml-3 btn btn-outline-secondary btn-sm" href="{% url 'source_text_detail' s.id %}">
                    View translations
                </a>
            </div>

        </li>
        {% endfor %}
    </ul>
    <div class="card-body">
        <a class="btn btn-primary" href="{% url 'person_detail' a.grouper.id %}"> More about {{ a.grouper }}</a>
    </div>
</div>
{% endfor %}

{% endblock %}