{% extends "translations/base.html" %}

{% block title %}{{ translation }}{% endblock %}

{% block content %}
<h1>{{ translation }}</h1>

<div class="row mb-3">
    <div class="col-md-6 themed-grid-col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Source Text</h5>
                <p class="card-text">This work is a translation of
                <cite>{{ translation.source_text.title }}</cite> by {{ translation.source_text.author }}.
                </p>
                <a href="{% url 'source_text_detail' translation.source_text.id %}" class="btn btn-primary">See more translations</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 themed-grid-col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Language</h5>
                <p class="card-text">This is a translation from <strong>{{ translation.source_text.language }}</strong> into <strong>{{ translation.language }}</strong>.
                </p>
            </div>
        </div>
    </div>
</div>

<h2>Authors</h2>

<div class="row mb-3">
    {% for a in translation.authors.all %}
    <div class="col-md-4 themed-grid-col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ a }}</h5>
                <p class="card-text">
                </p>
                <a href="{% url 'author_detail' a.id %}" class="btn btn-primary">More translations by this author</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h2>Publications</h2>
<p>Select a publication to view details.</p>
<ul>
{% for p in translation.publications.all %}
    <li><a href="{% url 'volume_detail' p.id %}">{{ p }}</a></li>
{% endfor %}
</ul>
{% endblock %}
