{% extends "base.html" %}

{% block title %}
{{ volume.title }}
{% endblock %}

{% block content %}
<h1 class="mt-4">{{ volume.title }}</h1>
<p>
    <span class="badge badge-secondary">Publisher</span>
    <span class="mr-4">{{ volume.publisher }}</span>
    <span class="badge badge-secondary">Date</span>
    <span class="mr-4">{{ volume.published_date.year }}</span>
    {% if volume.series %}
    <span class="badge badge-secondary">Series</span>
    <span class="mr-4">{{ volume.series }}</span>
    {% endif %}
</p>
<p>
    {{ volume.description|linebreaks }}
</p>

<h2 class="mt-4">Contents</h2>
{% regroup features by source_text as texts %}

{% for t in texts %}
{% if not t.grouper.id %}
<div class="card-deck">
    {% for f in t.list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ f.get_feature_display }}
            </h5>
            <p class="card-text">
                {% spaceless %}
                by
                {% for p in f.persons.all %}{% if not forloop.first and f.persons.count > 2 %},
                {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                    href="{% url 'person_detail' p.id %}">{{ p }}</a>{% endfor %}
                {% endspaceless %}
            </p>
            {% if f.description %}
            <p class="card-text">
                {{ f.description|linebreaks }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% for t in texts %}
{% if t.grouper.id %}
<h3 class="mt-4">
    {{ t.grouper.title }}
</h3>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Original
            </h5>
            <p class="card-text">{{ t.grouper.title }} {% if t.grouper.original_language_title %}
                ({{ t.grouper.original_language_title }}){% endif %}
            </p>
            <p class="card-text">
                {{ t.grouper.author.full_name }},
                {{ t.grouper.language }} {{ t.grouper.get_kind_display | lower }}
            </p>
            {% if t.grouper.date %}
            <p class="card-text">
                {{ t.grouper.date }}
            </p>
            {% endif %}
            <a href="{% url 'source_text_detail' t.grouper.id %}" class="btn btn-primary btn-sm">
                More translations
            </a>
            <a href="{% url 'person_detail' t.grouper.author.id %}" class="btn btn-outline-secondary btn-sm">
                More {{ t.grouper.author.full_name }}
            </a>

        </div>
    </div>
    {% for f in t.list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ f.get_feature_display }}
                {% if f.title and f.title != f.source_text.title %}
                (as <cite>{{ f.title }}</cite>)
                {% endif %}
            </h5>
            <p class="card-text">
                {% spaceless %}
                by
                {% for p in f.persons.all %}{% if not forloop.first and f.persons.count > 2 %},
                {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                    href="{% url 'person_detail' p.id %}">{{ p.full_name }}</a>{% endfor %}
                {% endspaceless %}
            </p>
            {% if f.feature == 'TR' %}
            <p class="card-text">
                Into {{ f.language }} {{f.get_kind_display | lower}}.
                {% if f.partial %} This is a partial translation. {% endif %}
                {% if f.has_facing_text %} This translation includes a facing {{ f.source_text.language }} text.
                {% endif %}
            </p>
            {% endif %}
            {% if f.description %}
            <p class="card-text">
                {{ f.description|linebreaks }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% include "components/links_component.html" with links=volume.all_links %}

<h2 class="mt-4">Published Reviews</h2>

{% for r in volume.publishedreview_set.all %}
{% include "components/published_review.html" with review=r %}
{% empty %}
<p>We don't have any published reviews for this volume yet.</p>
{% endfor %}

<h2 class="mt-4">
    User Reviews {% if user.is_authenticated %}
    <span class="float-right">
        <a class="btn btn-primary btn-sm" href="{% url 'review_create' volume.id %}">
            Add review</a>
    </span>
    {% endif %}
</h2>

{% for r in volume.review_set.all %}
{% include "components/user_review.html" with review=r abbreviate=True %}
{% empty %}
<p>We don't have any user reviews for this volume yet.</p>
{% endfor %}
{% endblock %}