{% extends "translations/base.html" %}

{% block title %}
{{ volume.title }}
{% endblock %}

{% block content %}
<h1 class="mt-4">{{ volume.title }}</h1>
<p>
    {{ volume.publisher }} ({{ volume.published_date.year }})
</p>

<h2 class="mt-4">Contents</h2>
{% regroup features by source_text as texts %}

{% for t in texts %}
{% if not t.grouper.id %}
<div class="card-deck">
    {% for f in t.list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ f.get_feature_display }}
                {% if f.title and f.title != f.source_text.title %}
                (as <cite>{{ f.title }}</cite>)
                {% endif %}
            </h5>
            <p class="card-text">
                {% spaceless %}
                by
                {% for p in f.persons.all %}{% if not forloop.first and f.persons.count > 2 %},
                {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                    href="{% url 'person_detail' p.id %}">{{ p }}</a>{% endfor %}
                {% endspaceless %}
            </p>
            {% if f.description %}
            <p class="card-text">
                {{ f.description | linebreaks }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% for t in texts %}
{% if t.grouper.id %}
<h3 class="mt-4">
    {{ t.grouper.title }}
</h3>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Original
            </h5>
            <p class="card-text">{{ t.grouper.title }} {% if t.grouper.original_language_title %}
                ({{ t.grouper.original_language_title }}){% endif %}
            </p>
            <p class="card-text">
                {{ t.grouper.author }},
                {{ t.grouper.language }} {{ t.grouper.get_kind_display | lower }}
            </p>
            {% if t.grouper.date %}
            <p class="card-text">
                {{ t.grouper.date }}
            </p>
            {% endif %}
            <a href="{% url 'source_text_detail' t.grouper.id %}" class="btn btn-primary btn-sm">
                More translations
            </a>
            <a href="{% url 'person_detail' t.grouper.author.id %}" class="btn btn-outline-secondary btn-sm">
                More {{ t.grouper.author }}
            </a>

        </div>
    </div>
    {% for f in t.list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ f.get_feature_display }}
                {% if f.title and f.title != f.source_text.title %}
                (as <cite>{{ f.title }}</cite>)
                {% endif %}
            </h5>
            <p class="card-text">
                {% spaceless %}
                by
                {% for p in f.persons.all %}{% if not forloop.first and f.persons.count > 2 %},
                {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                    href="{% url 'person_detail' p.id %}">{{ p }}</a>{% endfor %}
                {% endspaceless %}
            </p>
            {% if f.feature == 'TR' %}
            <p class="card-text">
                Into {{ f.language }} {{f.get_kind_display | lower}}.
                {% if f.partial %} This is a partial translation. {% endif %}
                {% if f.has_facing_text %} This translation includes a facing {{ f.source_text.language }} text.
                {% endif %}
            </p>
            {% endif %}
            {% if f.description %}
            <p class="card-text">
                {{ f.description }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% include "translations/links_component.html" with links=volume.links.all %}

<h2 class="mt-4">Published Reviews</h2>

{% for r in volume.publishedreview_set.all %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% if r.title %} {{ r.title }} {% else %} Review {% endif %}
        </h5>
        <div class="card-text">
            {% spaceless %}
            by
            {% for p in r.persons.all %}{% if not forloop.first and r.persons.count > 2 %},
            {% endif %}{% if forloop.last and not forloop.first %} and {% endif %}<a
                href="{% url 'person_detail' p.id %}">{{ p }}</a>{% endfor %}
            {% endspaceless %}
        </div>
        <div class="card-text">
            Published in {{ r.location }}.
        </div>
        {% include "translations/links_list_component.html" with links=r.links.all %}
    </div>
</div>
{% endfor %}

{% endblock %}