{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <div role="group">
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a role="button" class="secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
</form>
{% endblock %}
